.card {
  background: #fff;
  max-width: 20rem;

  &-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  &-title {
    margin-bottom: 0.5rem;
  }

  &-subtitle {
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  &-body {
    padding: 1rem;

    * {
      margin-bottom: 0;
    }
  }

  &-footer {
    display: flex;
    padding-top: 1rem;
  }
}

.clickable {
  cursor: pointer;
  transition: background 300ms ease;

  &:hover {
    background: #d4d4d4;
  }
}
